# Ignore Terraform variables files
*.auto.tfvars
setup/*.auto.tfvars
ansible/inventory.ini
# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore .terraform directory
.terraform/
