proxmox_ve_endpoint = "your-proxmox-server-ip"
proxmox_ve_password = "your-root-password-here"
proxmox_node_name = "pve"  # Change to your node name if different
proxmox_datastore_id = "local"
proxmox_datastore_id_volume = "local-lvm"
lxc_ipv4_address = "192.168.1.100/24"
lxc_ipv4_gateway = "192.168.1.1"
ssh_public_keys = [
    "public key here"
]
ssh_private_key_path = "~/.ssh/id_ed25519"